﻿
@{
    ViewData["Title"] = "Covid19";
}

<h1 class="center">Our Covid-19 Policy</h1>
<p class="center">
    During this ongoing fight against COVID-19 our goal is to conduct business as safely as we can for us and our customers. We plan to continue taking precautions and actions to keep our stores clean and ensure the well-being for everyone, following the protocols from health experts and relevant federal and state agencies.  Your health is our priority and we would encourage anyone feeling un-well to call in-store so we can arrange a way for you to safely pick up your bike.
    <br /><br />
    <b>
        Thank you,
        <br />
        From Everyone At Bike Hub
    </b>
</p>

<img src="~/Resources/Covid.jpg" alt="Covid19" style="border:thin" width="800" height="450" class="center" />


<style>
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 75%;
    }
</style >
