﻿@model BikeShopFront.Models.Bicycles

@{
    ViewData["Title"] = "CreateBike";
}

<h1>Create Bike</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateBike">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Serialnumber" class="control-label"></label>
                <input asp-for="Serialnumber" class="form-control" />
                <span asp-validation-for="Serialnumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customerid" class="control-label"></label>
                <input asp-for="Customerid" class="form-control" />
                <span asp-validation-for="Customerid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Modeltype" class="control-label"></label>
                <input asp-for="Modeltype" class="form-control" />
                <span asp-validation-for="Modeltype" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Paintid" class="control-label"></label>
                <input asp-for="Paintid" class="form-control" />
                <span asp-validation-for="Paintid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Framesize" class="control-label"></label>
                <input asp-for="Framesize" class="form-control" />
                <span asp-validation-for="Framesize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Orderdate" class="control-label"></label>
                <input asp-for="Orderdate" class="form-control" />
                <span asp-validation-for="Orderdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Startdate" class="control-label"></label>
                <input asp-for="Startdate" class="form-control" />
                <span asp-validation-for="Startdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shipdate" class="control-label"></label>
                <input asp-for="Shipdate" class="form-control" />
                <span asp-validation-for="Shipdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shipemployee" class="control-label"></label>
                <input asp-for="Shipemployee" class="form-control" />
                <span asp-validation-for="Shipemployee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Frameassembler" class="control-label"></label>
                <input asp-for="Frameassembler" class="form-control" />
                <span asp-validation-for="Frameassembler" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Painter" class="control-label"></label>
                <input asp-for="Painter" class="form-control" />
                <span asp-validation-for="Painter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Construction" class="control-label"></label>
                <input asp-for="Construction" class="form-control" />
                <span asp-validation-for="Construction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Waterbottlebrazeons" class="control-label"></label>
                <input asp-for="Waterbottlebrazeons" class="form-control" />
                <span asp-validation-for="Waterbottlebrazeons" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customname" class="control-label"></label>
                <input asp-for="Customname" class="form-control" />
                <span asp-validation-for="Customname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Letterstyleid" class="control-label"></label>
                <input asp-for="Letterstyleid" class="form-control" />
                <span asp-validation-for="Letterstyleid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Storeid" class="control-label"></label>
                <input asp-for="Storeid" class="form-control" />
                <span asp-validation-for="Storeid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employeeid" class="control-label"></label>
                <input asp-for="Employeeid" class="form-control" />
                <span asp-validation-for="Employeeid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Toptube" class="control-label"></label>
                <input asp-for="Toptube" class="form-control" />
                <span asp-validation-for="Toptube" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Chainstay" class="control-label"></label>
                <input asp-for="Chainstay" class="form-control" />
                <span asp-validation-for="Chainstay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Headtubeangle" class="control-label"></label>
                <input asp-for="Headtubeangle" class="form-control" />
                <span asp-validation-for="Headtubeangle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Seattubeangle" class="control-label"></label>
                <input asp-for="Seattubeangle" class="form-control" />
                <span asp-validation-for="Seattubeangle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Listprice" class="control-label"></label>
                <input asp-for="Listprice" class="form-control" />
                <span asp-validation-for="Listprice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Saleprice" class="control-label"></label>
                <input asp-for="Saleprice" class="form-control" />
                <span asp-validation-for="Saleprice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salestax" class="control-label"></label>
                <input asp-for="Salestax" class="form-control" />
                <span asp-validation-for="Salestax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salestate" class="control-label"></label>
                <input asp-for="Salestate" class="form-control" />
                <span asp-validation-for="Salestate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shipprice" class="control-label"></label>
                <input asp-for="Shipprice" class="form-control" />
                <span asp-validation-for="Shipprice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Frameprice" class="control-label"></label>
                <input asp-for="Frameprice" class="form-control" />
                <span asp-validation-for="Frameprice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Componentlist" class="control-label"></label>
                <input asp-for="Componentlist" class="form-control" />
                <span asp-validation-for="Componentlist" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Home" class="btn btn-secondary">Back to Bicycles</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
