﻿@model IEnumerable<BikeShopFront.Models.BicyclesVM>
@using X.PagedList.Mvc.Core;
@using BikeShopFront.Controllers;

@{
    ViewData["Title"] = "Bicycles";

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">

    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/plug-ins/1.10.21/filtering/row-based/range_numbers.js"></script>

}

<h1>@ViewData["Title"]</h1>

<br />

<table border="0" cellspacing="5" cellpadding="5">
    <tbody>
        <tr>
            <td>Minimum price: $</td>
            <td><input type="text" id="min" name="min" placeholder="1" value="1"></td>
        </tr>
        <tr>
            <td>Maximum price: $</td>
            <td><input type="text" id="max" name="max" placeholder="1000000" value="1000000"></td>
        </tr>
    </tbody>
</table>

<table id="data" class="display">
    <thead>
        <tr>
            <th style="width:280px;">Image</th>
            <th>Model</th>
            <th>Frame Size</th>
            <th>Price</th>
            <th>Construction</th>
            <th>Info</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td><img src="~/Resources/@HomeController.GetImage()" alt="Bike Image" style="width:250px; height:250px" /></td>
                <td>@item.ModelType</td>
                <td>@item.FrameSize</td>
                <td>@item.ListPrice</td>
                <td>@item.Construction</td>

                <td>
                    <div class="btn-group">
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <a asp-action="UpdateBike" asp-controller="Home" asp-route-id="@Decimal.ToInt32(item.Serialnumber)" class="btn btn-sm btn-outline-secondary">Update</a>
                            <a asp-action="DeleteBike" asp-controller="Home" asp-route-id="@Decimal.ToInt32(item.Serialnumber)" class="btn btn-sm btn-outline-secondary">Delete</a>
                        }
                        <a asp-action="GetBike" asp-controller="Home" asp-route-id="@Decimal.ToInt32(item.Serialnumber)" class="btn btn-sm btn-outline-secondary">View</a>
                    </div>
                    <a asp-action="Buy" asp-controller="Cart" asp-route-id="@Decimal.ToInt32(item.Serialnumber)" class="btn btn-sm btn-outline-primary">Add To Cart</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
    $(document).ready(function () {
        var table = $('#data').DataTable({
            "deferRender": true,
            "processing": true
        });

        $('#min, #max').keyup(function () {
            table.draw();
        });
    });
</script>